result/results.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="results">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="team" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="member" maxOccurs="5" minOccurs="1"><!-- 5 is for legacy reasons see http://wrcq.rogaining.cz/standard/results/0.1#member -->
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="firstname" use="required" />
											<xs:attribute type="xs:string" name="lastname" use="required" />
											<xs:attribute name="country" use="required">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:pattern value="AFG|ALB|ALG|AND|ANG|ANT|ARG|ARM|ARU|ASA|AUS|AUT|AZE|BAH|BAN|BAR|BDI|BEL|BEN|BER|BHU|BIH|BIZ|BLR|BOL|BOT|BRA|BRN|BRU|BUL|BUR|CAF|CAM|CAN|CAY|CGO|CHA|CHI|CHN|CIV|CMR|COD|COK|COL|COM|CPV|CRC|CRO|CUB|CYP|CZE|DEN|DJI|DMA|DOM|ECU|EGY|ERI|ESA|ESP|EST|ETH|FIJ|FIN|FRA|FSM|GAB|GAM|GBR|GBS|GEO|GEQ|GER|GHA|GRE|GRN|GUA|GUI|GUM|GUY|HAI|HKG|HON|HUN|INA|IND|IRI|IRL|IRQ|ISL|ISR|ISV|ITA|IVB|JAM|JOR|JPN|KAZ|KEN|KGZ|KIR|KOR|KSA|KUW|LAO|LAT|LBA|LBR|LCA|LES|LIB|LIE|LTU|LUX|MAD|MAR|MAS|MAW|MDA|MDV|MEX|MGL|MHL|MKD|MLI|MLT|MNE|MON|MOZ|MRI|MTN|MYA|NAM|NCA|NED|NEP|NGR|NIG|NOR|NRU|NZL|OMA|PAK|PAN|PAR|PER|PHI|PLE|PLW|PNG|POL|POR|PRK|PUR|QAT|ROU|RSA|RUS|RWA|SAM|SEN|SEY|SIN|SKN|SLE|SLO|SMR|SOL|SOM|SRB|SRI|STP|SUD|SUI|SUR|SVK|SWE|SWZ|SYR|TAN|TGA|THA|TJK|TKM|TLS|TOG|TPE|TRI|TUN|TUR|TUV|UAE|UGA|UKR|URU|USA|UZB|VAN|VEN|VIE|VIN|YEM|ZAM|ZIM|XXX" />
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:integer" name="id" use="required" />
						<xs:attribute type="xs:string" name="name" />
						<xs:attribute type="xs:integer" name="score" use="required" />
						<xs:attribute name="time" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="[0-9]{1,2}:[0-5][0-9]:[0-5][0-9]" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute type="xs:integer" name="penalty" use="required" />
						<xs:attribute name="duration" default="24">
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:maxInclusive value="24" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="gender" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="men" />
									<xs:enumeration value="mixed" />
									<xs:enumeration value="women" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="age" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="open" />
									<xs:enumeration value="veteran" />
									<xs:enumeration value="superveteran" />
									<xs:enumeration value="ultraveteran" />
									<xs:enumeration value="junior" />
									<xs:enumeration value="under18" />
									<xs:enumeration value="under20" />
									<xs:enumeration value="under23" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="status" default="finished">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="not started" />
									<xs:enumeration value="not finished" />
									<xs:enumeration value="overtime" />
									<xs:enumeration value="disqualified" />
									<xs:enumeration value="out of competition" />
									<xs:enumeration value="finished" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
